<div class="row">
<div class="col-sm-6 col-sm-offset-3 text">
    <div class="form-box">
        <div class="form-top">
            <div class="form-top-left">
                <h3>Création de l'article</h3>
            </div>
            <div class="form-top-right">
                <i class="fa fa-pencil"></i>
            </div>
        </div>
        <div class="form-bottom">
            <form role="form" action="/product/create" method="post" enctype="multipart/form-data" class="registration-form">
                <div class="form-group">
                    <label class="sr-only" for="form-title">Nom de l'article</label>
                    <input type="text" name="title" placeholder="Nom de l'article..." class="form-first-name form-control" id="form-title">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="form-price">Prix</label>
                    <input type="number" name="price" placeholder="Prix en euros..." class="form-first-name form-control" id="form-price">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="form-description">Description</label>
                    <input type="text" name="description" placeholder="Description du produit..." class="form-last-name form-control" id="form-description">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="form-avatar">Image</label>
                    <input type="file" name="avatar" class="form-last-name form-control" id="form-avatar">
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="new" id="utilisateur-radio" value="1" checked>
                    <label class="form-check-label" for="utilisateur-radio">
                        Nouveauté
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="new" id="admin-radio" value="0">
                    <label class="form-check-label" for="admin-radio">
                        Normal
                    </label>
                </div>
                <br>
                <select name="category" class="form-control form-control-sm">
                    <% categories.forEach(function(category){ %>
                        <option value="<%= category.id %>"><%= category.title %></option>
                    <% }); %>
                </select>
                <br>
                <button type="submit" class="btn">Connexion</button>
            </form>
        </div>
    </div>
</div>
</div>