<div class="col-sm-6 col-sm-offset-3 text">
    <div class="form-box">
        <div class="form-top">
            <div class="form-top-left">
                <h3>Formulaire d'inscription</h3>
                <p>Entrez un identifiant et un mot de passe pour créer un compte</p>
            </div>
            <div class="form-top-right">
                <i class="fa fa-pencil"></i>
            </div>
        </div>
        <div class="form-bottom">
            <form role="form" action="/admin/adminUserCreate" method="post" class="registration-form">
                <div class="form-group">
                    <label class="sr-only" for="form-first-name">Identifiant</label>
                    <input type="text" name="username" placeholder="Identifiant..." class="form-first-name form-control" id="form-first-name">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="form-last-name">Mot de Passe</label>
                    <input type="password" name="password" placeholder="Mot de passe..." class="form-last-name form-control" id="form-last-name">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="form-email">Email</label>
                    <input type="text" name="email" placeholder="Email..." class="form-email form-control" id="form-email">
                </div>
                <div class="form-group">
                    <label for="role-select">Définir Rôle</label>
                    <select multiple class="form-control" id="role-select">
                      <option name="isAdmin" value="0">Utilisateur</option>
                      <option name="isAdmin" value="1">Administrateur</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Enregistrer</button>
            </form>
        </div>
    </div>
</div>
