<div class="jumbotron">
     <div class="container">
        <p></p><br>
        <p></p><br>
        <p></p><br>
    </div>
</div>

<div class="row">
	<p></p>
</div>

<!-- Three columns of text below the carousel -->
<div class="row">
	<div class="col-lg-4">
		<img class="rounded-circle" src="images/new.png" alt="Generic placeholder image" width="140" height="140">
		<h2>Les nouveautés</h2>
		<p>Accéder à nos nouveautés du moment. Vous pouvez bénéficier de promotion avec les nouveaux produits du magasin. Un code promo vous sera envoyé par courrier.</p>
		<p><a class="btn btn-secondary" href="/product/new" role="button">Accéder &raquo;</a></p>
		</div><!-- /.col-lg-4 -->
	<div class="col-lg-4">
		<img class="rounded-circle" src="images/avatar.png" alt="Generic placeholder image" width="140" height="140">
		<h2>Inscription</h2>
		<p>Créer un compte afin de bénéficier de promotion ou bien de pouvoir réaliser vos achats</p>
		<p><a class="btn btn-secondary" href="#" role="button">Accéder &raquo;</a></p>
	</div><!-- /.col-lg-4 -->
	<div class="col-lg-4">
		<img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
		<h2>Géolocalisation</h2>
		<p>Accéder à l'API de géolocalisation</p>
		<p><a class="btn btn-secondary" href="#" role="button">Accéder &raquo;</a></p>
	</div>
</div>