<div class="col-sm-6 col-sm-offset-3 text">
    <div class="form-box">
        <div class="form-top">
            <div class="form-top-left">
                <h3>Formulaire de connexion</h3>
            </div>
            <div class="form-top-right">
                <i class="fa fa-pencil"></i>
            </div>
        </div>
        <div class="form-bottom">
            <form role="form" action="/login/connect" method="post" class="registration-form">
                <div class="form-group">
                    <label class="sr-only" for="form-first-name">Identifiant</label>
                    <input type="text" name="username" placeholder="Identifiant..." class="form-first-name form-control" id="form-first-name">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="form-last-name">Mot de Passe</label>
                    <input type="password" name="password" placeholder="Mot de passe..." class="form-last-name form-control" id="form-last-name">
                </div>
                 <br><br>
                 <div class="form-group">
                    <button class="btn btn-primary" type="submit">Connexion</button>
                    <br>
                    <!--<a class="btn btn-primary" href="forgotpassword.html" style="float:right;">Mot de passe oublié</a> -->
                </div>
            </form>
        </div>
    </div>
</div>

<!--<form role="form" action="/auth/local" method="post">
  <input type="text" name="identifier" placeholder="Username or Email">
  <input type="password" name="password" placeholder="Password">
  <button type="submit">Sign in</button>
</form> -->
